
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-size: 50px;
        }

        html {
            height: 100%;
        }
        

        .classroomText {
            display: grid;
            place-items: center;

            
        }


        .backgroundBox {
            height: 1080px;
            display: grid;
            place-items: center;
            border: dashed red;
        }
        body{

            width: 100%;
            min-height: 100vh;
            background-image: url(Images/32442923_7895078.jpg);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            
            
        }
