:root {
  --clr-primary-100: #e5b002;
  --clr-primary-2000: black;

  --clr-accent-200: #cbe38f;
  --clr-accent-300: #fd95ce;
  --clr-accent-400: #266cb4;
  --clr-accent-500: #48bdc6;
  --clr-accent-600: #f96a49;

  --clr-accent-700: #98c2b4;
  --clr-accent-800: #f4cf74;
  --clr-accent-900: #f96a49;
  --clr-accent-1000: #ee83a1;
  --clr-accent-1100: #7490bf;
  --clr-accent-1200: #f6d6d8;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'SFCartoonistHand-Bold';
  src: url('Fonts/SFCartoonistHand-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;

}

body {
  min-height: 100vh;
  font-family: 'SFCartoonistHand-Bold', sans-serif;
  font-size: 1.5rem;
}


/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*-----------------------------------------------------------------------------*/


/*A predefined class to center text*/
.text-center {
  text-align: center;
}

/*A predefined class to make text bold*/
.text-bold {
  font-weight: bold;
}


/*-----------------------------------------------------------------------------*/


/*establishes the grid for the landing page*/
.landingPageGrid {
  background-image: url("Images/landingBackground.jpg");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  padding-block: 4rem;
  border-bottom: black solid .125rem;
}

/*The shadow box holding the text on the landing page*/
.landingTitleBox {
  display: grid;
  justify-self: center;
  align-self: center;

  width: 30rem;
  height: 25rem;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  margin: 1.25rem;
}

/*Displays the landing Page welcome to Mrs. Mitchells Class text*/
.landingTitle {
  grid-row: 1/2;
  grid-column: 1/2;
  text-align: left;
  font-size: 2.5rem;
  margin: 5rem;
  font-size: 3rem;
}

.paperPlaneIMG {
  grid-row: 1/2;
  grid-column: 1/2;
  margin-top: 16rem;
  margin-left: 2.5rem;
}


/*-----------------------------------------------------------------------------*/
.navbar-brand {
  font-size: 1.75rem; /* Adjust the size as needed */
}
nav.navbar {
  background: linear-gradient(45deg, rgb(221, 247, 255), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background 0.3s ease, transform 0.3s ease; /* Add a smooth transition effect for background and transform */
  transform-origin: left; 
}

s
nav.navbar a.nav-link,
nav.navbar .dropdown-menu a.dropdown-item {
  transition: color 0.3s ease, background-color 0.3s ease;
}


/* Style the navigation links */
nav.navbar a.nav-link {
  color: black; /* Set the default text color */
  transition: color 0.3s ease; /* Add a smooth transition effect for color changes */
  text-decoration: none; /* Remove the default underline */
  padding: 10px 15px;
  margin: 0 10px;
  border-radius: 8px;
  position: relative;
  font-size: 1.5rem
}

/* Change text color and add underline on hover */
nav.navbar a.nav-link:hover {
  color: white;
}

/* Style the dropdown links */
nav.navbar .dropdown-menu a.dropdown-item {
  color: #000; /* Set the default text color */
  transition: color 0.3s ease; /* Add a smooth transition effect for color changes */
  text-decoration: none; /* Remove the default underline */
  padding: 10px 15px;
  border-radius: 8px;
  position: relative;
}
nav.navbar .dropdown-menu {
  border-radius: 8px;
  padding: 10px; /* Optional: Add padding for better visual appeal */
  font-size: 1.25rem;
}

/* Change text color and add underline on hover for dropdown links */
nav.navbar .dropdown-menu a.dropdown-item:hover {
  color: white;
}

/* Individual background colors for each menu item */
.menu-item-1:hover {
  background-color: var(--clr-accent-1200); /* Set the background color for the hovered dropdown item */
}

/* Individual background colors for each menu item */
.menu-item-2:hover {
  background-color: var(--clr-accent-1000); /* Set the background color for the hovered dropdown item */
}
/* Individual background colors for each menu item */
.menu-item-3:hover {
  background-color: var(--clr-accent-400); /* Set the background color for the hovered dropdown item */
}
/* Individual background colors for each menu item */
.menu-item-4:hover {
  background-color: var(--clr-accent-200); /* Set the background color for the hovered dropdown item */
}
/* Individual background colors for each menu item */
.menu-item-5:hover {
  background-color: var(--clr-accent-600); /* Set the background color for the hovered dropdown item */
}
/* Individual background colors for each menu item */
.menu-item-6:hover {
  background-color: var(--clr-accent-700); /* Set the background color for the hovered dropdown item */
}
/* Individual background colors for each menu item */
.menu-item-7:hover {
  background-color: var(--clr-accent-1200); /* Set the background color for the hovered dropdown item */
}
/* Individual background colors for each menu item */
.menu-item-8:hover {
  background-color: var(--clr-accent-500); /* Set the background color for the hovered dropdown item */
}

/*-----------------------------------------------------------------------------*/


/*Sets a grid up for the header and styles it*/
.header {
  display: grid;
  grid-template-columns: 50%;
  align-items: center;
}


/*Aligns the profile picture summary to the left side of the header*/
.profileSummary {
  text-align: left;
}

/*Aligns the profile summary icon in the top left grid slot in the header*/
.profileSummary {
  grid-row: 1/2;
  grid-column: 1/2;
}

/*Aligns the navbar box to the right side of the grid slot in the header*/
.navBarBackground {
  grid-row: 1/3;
  grid-column: 2/3;
}


/*-----------------------------------------------------------------------------*/
.aboutMePageGrid {
  position: relative;
  background-image: url("Images/cloudBackground.png");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  padding-block: 4rem;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

  display: grid;
  align-content: center;
  justify-content: center;

  margin-inline: auto;
  padding-block: 4rem;
  grid-template-columns: 45% 10% 45%;
}

.aboutMePageGrid::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem; /* Border thickness */
  background: linear-gradient(to bottom, #cee3f6, #f3f3f1);
}

.aboutMeTitle {
  text-align: left;
  font-size: 2rem;
}

.aboutMeMainTxt {
  text-align: left;
}

/*The shadow box holding the images on the about me page*/
.shadowBoxAboutMeIMG {
  align-self: center;
  justify-self: center;
  width: 15rem;
  height: 15rem;
  background-color: white;
  border-radius: 20rem;
  box-shadow: 0rem .75rem 1rem rgba(0, 0, 0, 0.5);
  padding: 2rem;
  margin-top: 10rem;
  margin-left: 10rem;
}

.shadowBoxAboutMe {
  align-self: center;
  justify-self: center;
  width: 30rem;
  height: 40rem;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: .5rem;
  box-shadow: 0 .75rem 1rem rgba(0, 0, 0, 0.5);
  padding: 2rem;
  margin: 2rem;
  grid-row: 1/2;
  grid-column: 3/4;
}



.landingPageTitle {
  align-self: center;
  justify-self: center;
}


/*-----------------------------------------------------------------------------*/

/*sets all of the following "about me" pages to be grids and formats them all the same*/
.aboutMePageGridFamily,
.aboutmePageGridHobbies,
.aboutmePageGridEducation,
.aboutmePageGridExperience,
.aboutmePageGridOther {
  background-image: url("Images/aboutMeBackground1.png");


  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

  display: grid;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  padding-block: 4rem;
  grid-template-columns: 45% 10% 45%;
}
/* Specific styles for the "Other" page with gradient after */
.aboutmePageGridOther {
  background-image: url("Images/aboutMeBackground1.png");
  position: relative;
}

.aboutmePageGridOther::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem; /* Border thickness */
  background: linear-gradient(to bottom, #f3f3f1, #fbf4ee);
}

.shadowBoxAboutMeFamily {
  width: 30rem;
  height: auto;
  background-color: white;
  outline: .40rem solid var(--clr-accent-200);
  border-radius: 2rem;
  box-shadow: 0 .75rem 1rem rgba(0, 0, 0, 0.1);
  grid-row: 1/1;
  grid-column: 1/1;
}

.shadowBoxAboutMeHobbies {
  align-self: center;
  justify-self: center;
  max-width: 30rem;
  width: 30rem;
  height: auto;
  background-color: white;
  outline: .40rem solid var(--clr-accent-300);
  border-radius: 2rem;
  box-shadow: 0 .75rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 2rem;
  grid-row: 1/2;
  grid-column: 3/4;
}

.shadowBoxAboutMeEducation {
  align-self: center;
  justify-self: center;
  max-width: 30rem;
  width: 30rem;
  height: auto;
  background-color: white;
  outline: .40rem solid var(--clr-accent-400);
  border-radius: 2rem;
  box-shadow: 0 .75rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 2rem;
  grid-row: 1/2;
  grid-column: 1/2;
}

.shadowBoxAboutMeExperience {
  align-self: center;
  justify-self: center;
  max-width: 30rem;
  width: 30rem;
  height: auto;
  background-color: white;
  outline: .40rem solid var(--clr-accent-500);
  border-radius: 2rem;
  box-shadow: 0 .75rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 2rem;
}

.shadowBoxAboutMeOther {
  align-self: center;
  justify-self: center;
  max-width: 30rem;
  width: 30rem;
  height: auto;
  background-color: white;
  outline: .40rem solid var(--clr-accent-900);
  border-radius: 2rem;
  box-shadow: 0 .75rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 2rem;
  grid-row: 1/2;
  grid-column: 3/4;
}

.shadowBoxAboutMeIMGLeft {
  align-self: center;
  justify-self: center;
  width: 30rem;
  height: 30rem;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 .75rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  grid-row: 1/1;
  grid-column: 1/1;
}

.shadowBoxAboutMeIMGRight {
  align-self: center;
  justify-self: center;
  width: 30rem;
  height: 30rem;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 .75rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  grid-row: 1/2;
  grid-column: 3/4;
}

.aboutMePageGridText2Left {
  padding: 5vh;
  max-width: 100%;
  justify-self: center;
  align-self: center;
}

.aboutMePageGridText2Right {
  padding: 5vh;
  max-width: 100%;
  justify-self: center;
  align-self: center;
}

/*-----------------------------------------------------------------------------*/


/*sets the background for the documents pages*/
.docPageBackground {
  background-image: url("Images/docPageBackground.png");

  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}


/*-----------------------------------------------------------------------------*/


/*establishes the grid for the schedule page*/
.docPageBackgroundScheduleGrid {

  display: grid;
  background: #FBF4EE;
  min-height: 100vh;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
  align-items: center;
  text-align: center;

}

/*sets the grid title to the top middle column*/
.scheduleGridTitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
  grid-row: 1/2;
  grid-column: 2/3;
}

/*Places in the correct grid location for the schedule pages*/
.scheduleNoteLeft {
  padding: 1rem;
  grid-row: 2/3;
  grid-column: 1/2;
  justify-self: right;
}

/*Places in the correct grid location for the schedule pages*/
.scheduleNoteMiddle {
  padding: 1rem;
  grid-row: 2/3;
  grid-column: 2/3;
  justify-self: center;
}

/*Places in the correct grid location for the schedule pages*/
.scheduleNoteRight {
  padding: 1rem;
  grid-row: 2/3;
  grid-column: 3/4;
  justify-self: left;
}

.note1Content
{
  grid-row: 2/3;
  grid-column: 1/2;
}
.note2Content
{
  grid-row: 2/3;
  grid-column: 2/3;
}
.note3Content
{
  grid-row: 2/3;
  grid-column: 3/4;
}
/*-----------------------------------------------------------------------------*/
.docPageHomeworkGrid {
  display: grid;
  grid-template-columns: 45% 10% 45%
}

.homeworkTitle {
  justify-self: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
  grid-row: 1/2;
  grid-column: 2/3;
}

.shadowBoxDocHomeworkLeft {
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: center;
  justify-self: center;
  width: 25rem;
  height: auto;
  background-color: #FBF4EE;
  outline: .40rem solid var(--clr-accent-600);
  border-radius: 2rem;
  box-shadow: 0 .75rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.shadowBoxDocHomeworkRight {
  grid-row: 1/2;
  grid-column: 3/4;
  align-self: center;
  justify-self: center;
  width: 25rem;
  height: auto;
  background-color: #FBF4EE;
  outline: .40rem solid var(--clr-accent-700);
  border-radius: 2rem;
  box-shadow: 0 .75rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
}


/*-----------------------------------------------------------------------------*/

.docPageCurriculumGrid {
  display: grid;
  grid-template-columns: 40% 5% 10% 5% 40%;
  grid-template-rows: auto auto auto;
}

.curriculumTitle {
  grid-row: 2/3;
  grid-column: 3/4;
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
}

.shadowBoxDocCurriculumLeft1 {
  grid-row: span 2;
  grid-column: 1/2;
  align-self: center;
  justify-self: right;
  max-width: 30rem;
  width: 30rem;
  height: auto;
  background-color: #FBF4EE;
  outline: .40rem solid var(--clr-accent-700);
  border-radius: 2rem;
  box-shadow: 0 .75rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-left: 12rem;
}

.shadowBoxDocCurriculumLeft2 {
  grid-row: 3/4;
  grid-column: 1/2;
  align-self: center;
  justify-self: right;
  max-width: 30rem;
  width: 30rem;
  height: auto;
  background-color: #FBF4EE;
  outline: .40rem solid var(--clr-accent-800);
  border-radius: 2rem;
  box-shadow: 0 .75rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-left: 12rem;
}

.shadowBoxDocCurriculumRight1 {
  grid-row: 1/2;
  grid-column: 5/6;
  align-self: center;
  justify-self: left;
  max-width: 30rem;
  width: 30rem;
  height: auto;
  background-color: #FBF4EE;
  outline: .40rem solid var(--clr-accent-400);
  border-radius: 2rem;
  box-shadow: 0 .75rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-right: 12rem;
}

.shadowBoxDocCurriculumRight2 {
  grid-row: 2/3;
  grid-column: 5/6;
  align-self: center;
  justify-self: left;
  max-width: 30rem;
  width: 30rem;
  height: auto;
  background-color: #FBF4EE;
  outline: .40rem solid var(--clr-accent-600);
  border-radius: 2rem;
  box-shadow: 0 .75rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-right: 12rem;
}

.shadowBoxDocCurriculumRight3 {
  grid-row: 3/4;
  grid-column: 5/6;
  align-self: center;
  justify-self: left;
  max-width: 30rem;
  width: 30rem;
  height: auto;
  background-color: #FBF4EE;
  outline: .40rem solid var(--clr-accent-300);
  border-radius: 2rem;
  box-shadow: 0 .75rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-right: 12rem;
}


/*-----------------------------------------------------------------------------*/
.docPageClassroomManagementGrid {
  display: grid;
  grid-template-columns: 47.5% 5% 47.5%;
  grid-template-rows: auto auto;
}

.classroomTitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
}

.shadowBoxDocClassroomManagement1 {
  grid-row: 1/2;
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
  max-width: 65rem;
  width: 65rem;
  height: auto;
  background-color: #FBF4EE;
  outline: .40rem solid var(--clr-accent-500);
  border-radius: 2rem;
  box-shadow: 0 .75rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-top: 10rem;
}

.shadowBoxDocClassroomManagement2 {
  grid-row: 2/3;
  grid-column: 1/2;
  align-self: center;
  justify-self: right;
  max-width: 30rem;
  width: 30rem;
  height: auto;
  background-color: #FBF4EE;
  outline: .40rem solid var(--clr-accent-400);
  border-radius: 2rem;
  box-shadow: 0 .75rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-bottom: 15rem;
}

.shadowBoxDocClassroomManagement3 {
  grid-row: 2/3;
  grid-column: 3/4;
  align-self: center;
  justify-self: left;
  max-width: 30rem;
  width: 30rem;
  height: auto;
  background-color: #FBF4EE;
  outline: .40rem solid var(--clr-accent-800);
  border-radius: 2rem;
  box-shadow: 0 .75rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-bottom: 15rem;
}


/*-----------------------------------------------------------------------------*/


.docPageClassroomManagementContinued {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
}

.managementContinuedTitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
}

.shadowBoxDocClassroomManagementContinued1 {
  grid-row: 1/2;
  grid-column: 3/4;
  align-self: center;
  justify-self: center;
  max-width: 65rem;
  width: 65rem;
  height: auto;
  background-color: #FBF4EE;
  outline: .40rem solid var(--clr-accent-700);
  border-radius: 2rem;
  box-shadow: 0 .75rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 2rem;
}

.shadowBoxDocClassroomManagementContinued2 {
  grid-row: 2/3;
  grid-column: 3/4;
  align-self: center;
  justify-self: center;
  max-width: 65rem;
  width: 65rem;
  height: auto;
  background-color: #FBF4EE;
  outline: .40rem solid var(--clr-accent-800);
  border-radius: 2rem;
  box-shadow: 0 .75rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 2rem;
}

.shadowBoxDocClassroomManagementContinued3 {
  grid-row: 3/4;
  grid-column: 3/4;
  align-self: center;
  justify-self: center;
  max-width: 65rem;
  width: 65rem;
  height: auto;
  background-color: #FBF4EE;
  outline: .40rem solid var(--clr-accent-400);
  border-radius: 2rem;
  box-shadow: 0 .75rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 2rem;
}

/*-----------------------------------------------------------------------------*/

.docPageCommunicationGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

.communicationTitle {
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
  align-self: end;
}

.shadowBoxDocCommunication {
  grid-row: 3/4;
  grid-column: 2/3;
  align-self: start;
  justify-self: center;
  max-width: 30rem;
  width: 30rem;
  height: auto;
  background-color: #FBF4EE;
  outline: .40rem solid var(--clr-accent-200);
  border-radius: 2rem;
  box-shadow: 0 .75rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 2rem;
}
