
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-size: 50px;
        }

        html {
            height: 100%;
        }
        

        #classroomText {
                font-family: Arial;
                position: absolute;
                top: 375px;
                right: 680px;
                display: flex;
                justify-content: center;
                align-items: left;
                border: dashed red;
        }


        #backgroundBox {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                border: dashed red;
        }


        body{

            width: 100%;
            min-height: 100vh;

            background-image: url(Images/32442923_7895078.jpg);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            
        }
