
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: .25rem;
}


nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: .25rem;
    flex-wrap: wrap;
}


nav a {
    text-decoration: none;
    color: black;
    padding: 5px 75px;
    transition: background-color 0.3s;
    background-color: lightgray;
    flex-shrink: 1;  /* Allows the items to shrink if needed */
    min-width: 20px;  /* Set a minimum width so they don't become too narrow */
}


nav a:hover {
    background-color: green;
}

header {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 0;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    width: 100%;
    max-width: 100%;
}

.grid img {
    max-width: 100%;
    height: auto;
}

.subheader-box {
    border: 1px solid black;  /* Black outline */
    padding: 10px;
    margin-top: 0;
}

.subheader-box h2 {
    margin: 0; 
    font-size: .75rem;
    text-align: center;
    font-weight: lighter;

}
.content-boxes {
    display: flex;  /* Enables flexbox layout */
    justify-content: space-between;  /* Distributes the boxes with space in between */
}

.text-box {
    flex: 1;  /* Makes both boxes take equal width */
    padding: 10px;
    box-sizing: border-box;  /* Ensures padding and border are included in the box's total width */
    font-size: .75rem;
}

.left-box {
    margin-right: 10px;  /* Adds a small space between the left and right boxes */
    text-align: left;
    text-justify: left;
}

.right-box {
    margin-left: 10px;  /* Adds a small space between the right and left boxes */
    text-align: left;
    text-justify: left;
}
